<div class="container">
  <h3><%= @deck.title %></h3>
  <p>What would you like to do?</p>

  <table class="table table-striped table-bordered table-hover">
    <tr>
      <th>Card Title</th>
      <!-- <th>Link</th> -->
    </tr>
      <% @deck.cards.each do |card| %>
        <tr>
          <td><%= card.back %></td>
          <td><a href="/cards/<%= card.id %>">Edit</a></td>
          <td><form id='delete_form' action="/cards/delete" method="post">
            <input type='hidden' name='card_id' value='<%= card.id %>'> 
            <input type="submit" value='Delete'>
          </form></td>
        </tr>
      <% end %>

    
  </table>

  <%= erb :_edit_card %>
</div>

