<div class="container-fluid">
  <h3><%= @deck.title %></h3>
  <p>What would you like to do?</p>

  <table class="table table-striped table-bordered table-hover">
    <tr>
      <th>Card Title</th>
      <!-- <th>Link</th> -->
    </tr>
      <% @deck.cards.each do |card| %>
        <tr>
          <td><%= card.back %></td>
          <td class="super-narrow-cell"><a href="/cards/<%= card.id %>"><i class="icon-edit"></i></a></td>
        </tr>
      <% end %>

    
  </table>
  <h2>Add new card to deck:</h2>
  <%= erb :_edit_card %>

  <h2>Delete Deck:</h2>
  <form id='delete_form' action="/decks/delete" method="post">
    <input type='hidden' name='deck_id' value='<%= @deck.id %>'> 
    <input type="submit" value='Delete Entire Deck' class="btn btn-danger">
  </form>

</div>

